
#resultscontain, #resultscontainmember {
    border: 1px solid #dcdde0;
    margin: 0 auto;
    background-color: white;
    padding: 25px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    border-radius: 5px;
}
#resultscontainmember {
     margin-top:30px;
}

table thead{
    background-color: #F3F4F6;
    height: 50px; 
    font-weight: bold;
}

table tbody tr{
    border-bottom: 1px solid lightgray;
    height: 40px;
}

table tbody tr .name{
    font-weight: bold;
}

.email, .role, .created_at{
    color: rgba(0,0,0,50%);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
}


th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

tbody tr:hover {
    background-color: #d2e7ea;
}

#flex_div{
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#add_user{
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    background-color: #3017d0;
    color: #fdfdfd;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    flex-direction: row; 
}

#add_user:hover{
    background-color: #233043;
    transform: scale(1.05);
}

